
body {
    background-color: #343a40; 
    color: white; 
}

.checked {
    color: rgb(187, 38, 38);
}

.list-group-item {
    background-color: #495057; 
    border: none; 
}

.card {
    display: flex; 
    align-items: center; 
    justify-content: space-between; /* espacio entre contenido y tarjetas */
    padding: 10px; 
    margin: 8px 0; 
}

.card-content {
    flex-grow: 1; 
    margin-right: 10px; /* espacio entre el contenido y las estrellas */
}

.rating {
    margin-left: 30px; 
}

.card-title {
    margin: 0; 
}

.card-tagline {
    margin: 0; 
    font-size: 0.9rem; 
    color: #adb5bd; 
}